@media (max-width: 730px) {
    .quizzNamecontainer {
        max-width: 80%;
    }

    .quizzesName {
        width: 70vw;
    }

    .questionNumber {
        height: 7.5vh;
        border-radius: 10px;
        font-size: 14px;
    }

    .quizzQuestionsContainer {
        width: 81vw;
    }

    .question h4 {
        max-width: 100%;
    }

    .resultHeading {
        margin: 10px;
        height: 5vh;
        border-radius: 10px;
    }
}

@media (max-width: 630px) {
    .questionNumber {
        height: 6vh;
        border-radius: 10px;
        font-size: 13px;
    }
}

@media (max-width: 540px) {
    .quizzNamecontainer {
        max-width: 95%;
    }

    .quizzesName {
        width: 87vw;
    }

    .question h4 {
        font-size: 12px;
    }
}

@media (max-width : 460px) {
    .quizzNamecontainer {
        max-height: 73vh;
    }

    .quizzesName {
        height: 8vh;
        font-size: 11px;
        width: 70vw;
    }
}

@media (max-width : 400px) {
    .quizzName {
        margin: 7px;
        padding: 3px;
    }

    .quizzesName {
        width: 75vw;
    }

    .quizzName h4 {
        font-size: 15px;
    }

    footer h1 {
        font-size: 25px;
    }

   .answers button {
        font-size: 10px;
    }

    .question h4 {
        font-size: 10px;
        font-weight: 600;
    }

    .resultContainer {
        margin: 5vw;
      }
}